/* Start Navbar */
.navbar {
  border: 1px solid;
}

.navbar .navbar-nav .nav-item {
  border-right: 1px solid;
  margin-right: 5px;
}

form .btn:hover {
  background-color: #0d6efd;
  color: white;
}

/* Start List */
.books-container {
  max-height: 300px;
  overflow-y: scroll;
}

#books li {
  background: white;
  align-items: center;
}

#books li:nth-child(odd) {
  background: #f3f3f2;
}

.footer {
  position: fixed;
  bottom: 0;
}

#books li:not(.nav-item):hover {
  background-color: #6e5cc2;
  color: white;
}

/* Start Form */
form input {
  margin: 10px auto;
  font-size: 20px;
  padding: 5px;
}

form button {
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}
